<%= f.InputTag("ReceiptName") %>
<%= f.InputTag("ReceiptNumber") %>
<%= f.SelectTag("ReceiptType", {options: ["Receipt", "Bill"]}) %>
<%= f.InputTag("ReceiptDate",{ type:"date"}) %>
<%= f.InputTag("Amount",{ type: "number", min: "0", step: "any" }) %>
<div class="form-group">
  <label>Project Budget line</label>
  <select name="BudgetLineID" class="form-control">
    <%= for (project) in currentUser.Company.Projects { %>
    <optgroup label="<%= project.Name %>">
      <%= for (bl) in project.BudgetLines { %>
      <%= if (receipt.BudgetLineID.String() == bl.ID.String()) { %>
      <option selected value="<%= bl.ID %>">
        <%= bl.Name %>
      </option>
      <% } else { %>
      <option value="<%= bl.ID %>">
        <%= bl.Name %>
      </option>
      <% } %>
      <% } %>
    </optgroup>
    <% } %>
  </select>
</div>
<button class="btn btn-success" role="submit">Save</button>