<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Harnico - Accounting</title>
  <%= stylesheetTag("application.css") %>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="<%= authenticity_token %>" />
  <link rel="icon" href="<%= assetPath(" images/favicon.ico") %>">
</head>

<body>

  <div class="container-fluid">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="<%= rootPath() %>">
          <img src="<%= rootPath() %>assets/images/harnico.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="<%= projectsPath() %>">Projects</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" href="<%= expensesPath() %>">Expenses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= receiptsPath() %>">Receipts</a>
                  </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= walletEntriesPath() %>">Wallet</a>
            </li>
    
          </ul>
          <span class="navbar-text">
              <%=  if (current_user) { %>
              <%= current_user.Name %>
              <a href="<%= authLogoutPath() %>" method="delete" data-method="DELETE">Logout</a>
              <% } else { %>
              <% let authProvider = "google" %>
              <a class="nav-link" href="<%= authPath({provider: authProvider}) %>">Login</a>
              <% } %>
            </span>
        </div>
      </nav>
    </header>
    <%= partial("flash.html") %>
    <%= yield %>
  </div>

  <%= javascriptTag("application.js") %>
</body>

</html>